<div class="section-new-product">
    <header class="section-new-product__header">
        <h1>Contáctenos</h1>
        <p>Si quiere realizar una consulta sobre alguno de nuestros productos o hacernos alguna sugerencia o reclamos, complete el siguiente formulario.</p>
    </header>
    <div class="section-new-product__form-contact-container">
        <form action="#" method="get">
            <div class="form-name">
                <label for="form-name__input" class="form-name__label">Nombre:</label>
                <input type="text" name="form-name__input" class="form-name__input" id="form-name__input" autofocus>
                <p class="form-name__error" id="form-name__error"></p>
            </div>
            <div class="form-email">
                <label for="form-email__input" class="form-email__label">Correo:</label>
                <input type="text" name="form-email__input" class="form-email__input" id="form-email__input">
                <p class="form-email__error" id="form-email__error"></p>
            </div>
            <div class="form-message">
                <label for="form-message__input" class="form-message__label" >Mensaje:</label>
                <textarea name="message" class="form-message__input" id="form-message__input"></textarea>
            </div>
            <div class="form-submit-button">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>
<script src="../js/verificacion-contacto.js"></script>