<section class="section-news">
    <header class="section-news__header">
        <h1 class="section-news__title"> PRÓXIMAMENTE </h1>
        <h2 class="section-news__subtitle"> Cósmica: Juguetería virtual </h2>
    </header>
    <p> Disfrute de un entorno interactivo en el cual podrá observar en detalle los distintos juguetes que forman parte de nuestra tienda. Muchos de nuestros juguetes disponibles en su versión 3D para poder jugar con ellos usando su dispositivo movil o computadora de escritorio.</p>
</section>
<section class="section-cards">
    <header class="section-cards__header">
        <h1>Top 3 juguetes</h1>
        <p>Juguetes más vendidos del año <span>2022</span></p>
    </header>
    <div class="cards-container"></div>

    <header class="section-cards__header">
        <h1>Juguetes en promoción</h1>
    </header>
    <div class="cards-container"></div>
    <div class="read-more">
        <a title="Ver más juguetes con promociones" href="#">Ver más</a>
    </div>
    <header class="section-cards__header">
        <h1>Catálogo completo</h1>
        <p>Vea todos nuestros juguetes</p>
    </header>
    <div class="cards-container"></div>
    <div class="read-more">
        <a title="Ver nuestro catálogo completo" href="#">Ver más</a>
    </div>
    <footer class="section-cards__footer">
        <p>Los precios y las ofertas mostrados pueden variar dependiendo de la época del año o mes en que esté visualizando nuestros productos.</p>
        <p>Para reclamos o devoluciones: <a href="#/contacto">contáctenos</a>.</p>
    </footer>
    <div class="cart-button-container__popUp">Producto nuevo añadido al carrito</div>
</section>