<div class="section-about-us">
    <header class="section-about-us__header">
        <h1>Sobre nosotros</h1>
    </header>
    <div class="section-about-us__information">
        <p><q>Buenos días, buenas tardes y buenas noches</q></p>
        <p>Juguetería Cósmica aterrizando y listos para traer alegría y diversión a todos los niños.</p>
        <p>Se que les resultará sorprendente, pero no venimos del espacio... Lo se, deben estar muy sorprendidos. Pero, aún si no somos del espacio, hay algo en nosotros que hoy en día es capaz de poder tocar las estrellas o incluso estar de pie en una de ellas: <em>IMAGINACIÓN</em>.</p>
        <p>Desde Cósmica buscamos promover, no solo el entretenimiento y diversión para los más pequeños sino, además, que su imaginación vaya más allá de lo que ellos puedan imaginar. Desde la infancia a un niño no le es fácil entablar una conversación con un adulto y, en la mayoría de los casos, acaba por sentirse solo e incomprendido en los primeros años de su vida.</p>
        <p>Y que mejor para ellos que un juguete con el cual dar sus primeros pasos de su vida, no lo creen ustedes también?</p>
    </div>
    
    <div class="image-motivation">
        <img class="image-motivation__image" src="img/imaginacion.jpg" alt="motivation image">
        <p class="image-motivation__epigraph"><q>Sólo con el corazón se puede ver bien; Lo escencial es invisible a los ojos</q></p>  
    </div>
</div>