<div class="section-about-us">
    <header class="section-about-us__header">
        <h1>Sobre nosotros</h1>
    </header>
    <div class="section-about-us__information">
        <p class="cite"><em>"Buenos días, buenas tardes y buenas noches"</em></p>
        <div class="image-text">
            <div class="image-text__image-motivation">
                <img class="image-motivation__image" src="img/imaginacion.jpg" alt="motivation image">
            </div>
            <div class="image-text__text">
                <p>Juguetería Cósmica: un lugar para alegrar y divertir a los niños.</p>
                <p>Se que les resultará sorprendente, pero no venimos del espacio... Lo se, deben estar muy sorprendidos. Pero, aún si no somos del espacio, hay algo en nosotros que hoy en día es capaz de poder tocar las estrellas o incluso estar de pie en una de ellas: <em>IMAGINACIÓN</em>.</p>
                <p>Desde Cósmica buscamos promover, no solo el entretenimiento y diversión para los más pequeños sino, además, que su imaginación vaya más allá de lo que ellos puedan imaginar. Desde la infancia a un niño no le es fácil entablar una conversación con un adulto y, en la mayoría de los casos, acaba por sentirse solo e incomprendido en los primeros años de su vida.</p>
                <p>Y que mejor para ellos que un juguete con el cual dar sus primeros pasos de su vida, no lo creen ustedes también?</p>
                <p class="image-motivation__epigraph"><em>Sólo con el corazón se puede ver bien; Lo escencial es invisible a los ojos</em></p>  
            </div>
        </div>
        <div class="image-text">
            <div class="image-text__image-motivation">
                <img class="image-motivation__image" src="img/imaginacion2.jpg" alt="motivation image">
            </div>
            <div class="image-text__text">
                <p>Gustan de compañia para tomar el té? Nuestras muñecas pasarán una tarde divertida y relajante.</p>
                <p>Eres de aquellas personas que les gusta explorar el mundo? Sube a bordo de nuestro tren y disfruta de los paisajes que están en tu paso.</p>
                <p>Si buscas ser un niño listo, nuestra computadora portatil te ofrece diversos temas con lo que aprenderas a la vez que te diviertes.</p>
                <p>Todo esto y más, solo en Juguetería Cósmica. TE ESPERAMOS!</p>
                <p class="image-motivation__epigraph"><em>"La lógica te lleva del punto A al punto B. Y la imaginación te lleva a donde tu quieras".</em></p>  
            </div>
        </div>
    </div>
</div>