<section class="section-news">
    <header class="section-news__header">
        <h1 class="section-news__title"> PRÓXIMAMENTE </h1>
        <h2 class="section-news__subtitle"> Cósmica: Juguetería virtual </h2>
    </header>
    <p> Disfrute de un entorno interactivo en el cual podrá observar en detalle los distintos juguetes que forman parte de nuestra tienda. Muchos de nuestros juguetes disponibles en su versión 3D para poder jugar con ellos usando su dispositivo movil o computadora de escritorio.</p>
</section>
<section class="section-cards">
    <header class="section-cards__header">
        <h1>Top 3 juguetes</h1>
        <p>Juguetes más vendidos del año <span>2022</span></p>
    </header>
    <div class="cards-container">
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-3d-bear.png" alt="img/logo.png" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Oso de peluche</h2>
                    <p class="card__description">
                        Ideal para niños y niñas. Mucha ternura en un solo juguete.
                    </p>
                    <p class="card__price">
                        $<span>1.307,50</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-computer.png" alt="toy computer" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Computadora portatil de juguete</h2>
                    <p class="card__description">
                        Aprenda el abecedario con divertidos ejemplos pulsando una tecla.
                    </p>
                    <p class="card__price">
                        $<span>2.489,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-doll.png" alt="toy doll" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Muñeca Jazmin</h2>
                    <p class="card__description">
                        Muñeca tierna que necesita de amor, cuidado y cariño.
                    </p>
                    <p class="card__price">
                        $<span>1.200,00</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>
    </div>

    <header class="section-cards__header">
        <h1>Juguetes en promoción</h1>
        <p>Rebaja (círculo naranja transparente) y/o envío gratis (círculo rosa) en los siguientes juguetes</p>
    </header>
    <div class="cards-container">

        <div class="card card--free-send">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-doll-2.png" alt="toy doll 2" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Muñeca Maria</h2>
                    <p class="card__description">
                        Muñeca tierna que necesita de amor, cuidado y cariño.
                    </p>
                    <p class="card__price">
                        $<span>920,79</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-kitchen.png" alt="toy kitchen" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Cocinita</h2>
                    <p class="card__description">
                        Prepare a sus invitados deliciosos platillos con esta cocinita de lujo.
                    </p>
                    <p class="card__price">
                        $<span>1.999,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-soldier.png" alt="toy soldiers" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Soldaditos</h2>
                    <p class="card__description">
                        Dirija a su ejercito al campo de batalla y triunfe.
                    </p>
                    <p class="card__price">
                        $<span>699,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--free-send card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-twister.png" alt="twister" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Twister</h2>
                    <p class="card__description">
                        Pie izquierdo verde, mano derecha azul... Podrás seguir el paso?
                    </p>
                    <p class="card__price">
                        $<span>1.899.99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-computer.png" alt="toy computer" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Computadora portatil de juguete</h2>
                    <p class="card__description">
                        Aprenda el abecedario con divertidos ejemplos pulsando una tecla.
                    </p>
                    <p class="card__price">
                        $<span>2.489,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>
        <div class="read-more">
            <a href="#">Ver más Promociones</a>
        </div>
    </div>

    <header class="section-cards__header">
        <h1>Catálogo completo</h1>
        <p>Vea todos nuestros juguetes en un solo lugar</p>
    </header>
    <div class="cards-container">

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-3d-bear.png" alt="toy bear" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Oso de peluche</h2>
                    <p class="card__description">
                        Ideal para niños y niñas. Mucha ternura en un solo juguete.
                    </p>
                    <p class="card__price">
                        $<span>1.307,50</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-computer.png" alt="toy computer" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Computadora portatil de juguete</h2>
                    <p class="card__description">
                        Aprenda el abecedario con divertidos ejemplos pulsando una tecla.
                    </p>
                    <p class="card__price">
                        $<span>2.489,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-doll.png" alt="toy doll" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Muñeca Jazmin</h2>
                    <p class="card__description">
                        Muñeca tierna que necesita de amor, cuidado y cariño.
                    </p>
                    <p class="card__price">
                        $<span>1.200,00</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-soldier.png" alt="toy soldiers" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Soldaditos</h2>
                    <p class="card__description">
                        Dirija a su ejercito al campo de batalla y triunfe.
                    </p>
                    <p class="card__price">
                        $<span>699,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-train.png" alt="toy train" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">tren de juguete</h2>
                    <p class="card__description">
                        Diviértase siendo el conductor de un tren con carga removible.
                    </p>
                    <p class="card__price">
                        $<span>1.365,65</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--free-send">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-doll-2.png" alt="toy doll 2" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Muñeca Maria</h2>
                    <p class="card__description">
                        Muñeca tierna que necesita de amor, cuidado y cariño.
                    </p>
                    <p class="card__price">
                        $<span>920,79</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-kitchen.png" alt="toy kitchen" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Cocinita</h2>
                    <p class="card__description">
                        Prepare a sus invitados deliciosos platillos con esta cocinita de lujo.
                    </p>
                    <p class="card__price">
                        $<span>1.999,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-cards-uno.png" alt="uno cards" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Cartas UNO</h2>
                    <p class="card__description">
                        Divertido juego de cartas para divertirse con amigos.
                    </p>
                    <p class="card__price">
                        $<span>450,00</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-spanish-cards.png" alt="spanish deck" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Baraja Española</h2>
                    <p class="card__description">
                        Ideal para jugar al truco, a la casita robada o la escoba de 15.
                    </p>
                    <p class="card__price">
                        $<span>425,99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>

        <div class="card card--free-send card--discount">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/products/product-twister.png" alt="twister" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Twister</h2>
                    <p class="card__description">
                        Pie izquierdo verde, mano derecha azul... Podrás seguir el paso?
                    </p>
                    <p class="card__price">
                        $<span>1.899.99</span>
                    </p>
                    <div class="card__add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                </div>
            </article>
            <div class="card__free-send">Envío Gratis</div>
            <div class="card__discount">Rebaja</div>
        </div>
        <div class="read-more">
            <a href="#">Ver más</a></div>
    </div>
    <footer class="section-cards__footer">
        <p>Los productos con un círculo naranja transparente en la esquina superior izquierda poseen descuento.</p>
        <p>Los productos con un círculo rosa en la esquina superior derecha poseen envío gratis.</p>
        <p>Los precios y las ofertas mostrados pueden variar dependiendo de la época del año o mes en que esté visualizando nuestros productos.</p>
        <p>Para reclamos o devoluciones: <a href="contacto.html">contáctenos</a>.</p>
    </footer>
</section>