/*
// CSS HEX
--citrine: #e6d417ff;
--ua-red: #e50051ff;
--cyan-process: #17bce6ff;
--big-dip-oruby: #990f3fff;
--teal-blue: #087c99ff;
--black-olive: #343633ff;
--snow: #f8f2f3ff;

// CSS HSL
--citrine: hsla(55, 82%, 50%, 1);
--ua-red: hsla(339, 100%, 45%, 1);
--cyan-process: hsla(192, 82%, 50%, 1);
--big-dip-oruby: hsla(339, 82%, 33%, 1);
--teal-blue: hsla(192, 90%, 32%, 1);
--black-olive: hsla(100, 3%, 21%, 1);
--snow: hsla(350, 30%, 96%, 1);

// SCSS HEX
$citrine: #e6d417ff;
$ua-red: #e50051ff;
$cyan-process: #17bce6ff;
$big-dip-oruby: #990f3fff;
$teal-blue: #087c99ff;
$black-olive: #343633ff;
$snow: #f8f2f3ff;

// SCSS HSL
$citrine: hsla(55, 82%, 50%, 1);
$ua-red: hsla(339, 100%, 45%, 1);
$cyan-process: hsla(192, 82%, 50%, 1);
$big-dip-oruby: hsla(339, 82%, 33%, 1);
$teal-blue: hsla(192, 90%, 32%, 1);
$black-olive: hsla(100, 3%, 21%, 1);
$snow: hsla(350, 30%, 96%, 1);

// SCSS RGB
$citrine: rgba(230, 212, 23, 1);
$ua-red: rgba(229, 0, 81, 1);
$cyan-process: rgba(23, 188, 230, 1);
$big-dip-oruby: rgba(153, 15, 63, 1);
$teal-blue: rgba(8, 124, 153, 1);
$black-olive: rgba(52, 54, 51, 1);
$snow: rgba(248, 242, 243, 1);

// SCSS Gradient
$gradient-top: linear-gradient(0deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-right: linear-gradient(90deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-bottom: linear-gradient(180deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-left: linear-gradient(270deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-top-right: linear-gradient(45deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-bottom-right: linear-gradient(135deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-top-left: linear-gradient(225deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-bottom-left: linear-gradient(315deg, #e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
$gradient-radial: radial-gradient(#e6d417ff, #e50051ff, #17bce6ff, #990f3fff, #087c99ff, #343633ff, #f8f2f3ff);
*/

:root {
    // CSS HEX
    --citrine: #e6d417ff;
    --ua-red: #e50051ff;
    --cyan-process: #17bce6ff;
    --big-dip-oruby: #990f3fff;
    --teal-blue: #087c99ff;
    --black-olive: #343633ff;
    --snow: #f8f2f3ff;
}